
<h2>Controle de Postagem</h2>
<br>
<a href="http://localhost/postagem/admin/create"> <h3>Criar nova Postagem</h3></a>

<table border="1" id="tabelaPost">
    <tr id="Tbtitulo">
        <th>Id</th>
        <th>Titulo</th>
        <th>Alterar</th>
        <th>Deletar</th>
    </tr>
    {% for postagem in post %}
    <tr>
        <td>{{postagem.id}}</td>
        <td id="Tdprincipal">{{postagem.titulo}}</td>
        <td><a href="http://localhost/postagem/admin/update/{{postagem.id}}">Alterar</a></td>
        <td><a href="http://localhost/postagem/admin/delete/{{postagem.id}}">Deletar</a></td>
    </tr>
    {% endfor %}
</table>
<br>


