
<h2>Controle de Postagem</h2>
<hr>
<a href="http://localhost/postagem/admin/create"> <h3>Criar nova Postagem</h3></a>

{% if post == false %}
<p>Ainda não há postagens</p>

{%else%}

<table id="table" border="1">
    <tr style="height: 30px; font-size: 20px">
        <th>Id</th>
        <th>Titulo</th>
        <th>Alterar</th>
        <th>Deletar</th>
    </tr>
    {% for postagem in post %}
    <tr style="height: 25px;">
        <td>{{postagem.id}}</td>
        <td id="Tdprincipal">{{postagem.titulo}}</td>
        <td ><a href="http://localhost/postagem/admin/changeId/{{postagem.id}}">Alterar</a></td>
        <td><a href="http://localhost/postagem/admin/delete/{{postagem.id}}" onclick="return confirm('Deseja realmente deletar?')">Deletar</a></td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
<br>


