
    <section>
        <article class="painel-post">
            <input type="text" name="id" readonly="true" value="{{id}}"  style="background-color: silver; width: 20px; border-radius: 4px;">
            <header>
                <a href ="#"><h1>{{titulo}}</h1></a>
            </header>
        <p>{{conteudo}}</p>
        
        <form method="POST" action="http://localhost/postagem/post/addComentario/{{id}}">
            <span for="nome">Nome</span><br>
            <input type="text" name="nome"><br><br>

            <textarea class="textarea" name ="comentario" type="text" cols="100" rows="2" placeholder="adione um comentario..."></textarea><br>
            <input class="btn-atualizar" type="submit" name="cadastrar" value="Comentar">
        </form>

        {% if comentarios == false %}
        <hr><br>
        <p> Ainda não há comentarios para este Post </p>   
        <br> 
        {% else %}
            {% for comentario in comentarios %}
            <hr><br>
            <div>
                <a href="http://localhost/postagem/post/apagarComent/{{id}}-coment-{{comentario.id_coment}}"><img src="http://localhost/postagem/Public/icones/delete.ico" style="float: right;" alt="Sim" width="40" height="25"></a>
                <h3>{{comentario.nome}}</h3>
                <p>{{comentario.mensagem}}</p>
            </div>
            {% endfor %}
        {% endif %}   
        </article>
    </section>
