<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../postagem/Public/css/template.css">
    <title>Postagem</title>
</head>
<body >
   
   <div id="corpo">
        <div id="painel">
            <div id="topo">
                <header>
                    <nav>
                        <a href="http://localhost/postagem/Home"><input type="button" value="Home"> </a>  |
                        <a href="http://localhost/postagem/Sobre"> <input type="button" value="Sobre"> </a>
                        <a id="navParaDireita" href="http://localhost/postagem/admin"> <input type="button" value="Admin"> </a>
                    </nav>
                </header>
            </div>
            <div id=conteudo>
                {{conteudo dinamico}}
            </div>
        </div>
   </div>
</body>
</html>