<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://localhost/postagem/Public/css/template.css">
    <!-- Inicio => Inserido as bibliotecas para rodar o Data Tables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <!-- Fim => Bibliotecas Data Tables -->
    <title>Postagem</title>
</head>
<body >
   <div id="corpo">
        <div id="painel">
            <div id="topo">
                <header>
                    <nav>
                        <a href="http://localhost/postagem/Home"><input type="button" value="Home"> </a>  |
                        <a href="http://localhost/postagem/Sobre"> <input type="button" value="Sobre"> </a>
                        <a id="navParaDireita" href="http://localhost/postagem/admin"> <input type="button" value="Admin"> </a>
                    </nav>
                </header>
            </div>
            <hr>
            <div id=conteudo>
                {{conteudo dinamico}}
            </div>
        </div>
   </div>
</body>
</html>